:root {  
    --fontSerif: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    --fontMonospace: 'Cutive Mono', monospace;
    --fontCursive: 'Qwitcher Grypen', cursive;
    --keywidth: 6%;
}


body {
    background-color: white;
    font-family: var(--fontSerif);
    font-weight: 300;
    color:#1C1C1C;
}

img {
    width: var(--keywidth);
}

h1 {
    font-weight: 300;
    font-size: 4vh;
    margin-left: 4%;
}


.spacer {
    width: calc(var(--keywidth)/4);
    display: inline-block;
    margin: 0;
    padding: 0;
}

#divMainContainer {
    background-color:#1C1C1C;
    height: 88.5vh;
    width: 100%;
}

#divTyping {
    position: relative;
    top: 2%;
    width: 80%;
    height: 42%;
    margin-left: 10%;
    padding: 0 1% 0 1%;
    word-wrap:break-word;
    overflow:hidden;

    background-color: rgb(220,220,220);
    color: #1C1C1C;
}


#pTyping {
    width:100%;
    font-size: 3vh;
}


#selLayout {
    width: 13vh;
    margin: 1% 0 1% 10%;
    border: none;
    background-color:rgb(220,220,220);
    color:#1C1C1C;
    padding: 0.2%;
}

#btnLayoutLaden {
    position: relative;
    left: 0.5vh;
    margin-top: 2%;
    background-color: rgb(220,220,220);
    color: #1C1C1C;
    padding: 0.2%;
}

#divLayoutInfo {
    width: 70%;
    float: right;
    margin-top: 2%;
}